<div class="container">
  <div class="row">
    <div class="col-md-2 col-sm-3 my-2">
      <!--カテゴリー検索機能　部分テンプレート-->
      <%= render 'public/posts/category_index', category: @category %>
    </div>

    <div class="col-md-8 col-sm-7 my-2 post-image">
      <div class="row">
        <%= image_tag @post.image %>
      </div>

      <div class="row mt-3 ml-5">
      <!--いいね機能　部分テンプレート-->
        <div id="favorite_buttons_<%= @post.id %>">
          <%= render "public/favorites/btn", post: @post %>
        </div>
        <span><%= @post.user.username %>：</span>
        <span><%= @post.created_at.strftime('%Y/%m/%d') %></span>
      </div>

      <div class="row mt-1 mb-3 ml-5">
        <%= @post.text %>
      </div>

      <div class="row ml-5 mb-3">
        <% if @post.user == current_user %>
          <%= link_to "編集する", edit_post_path(@post), class: "btn btn-sm btn-secondary" %>｜
        <% end %>
        <% if @post.user == current_user %>
          <%= link_to "削除する", post_path(@post), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-sm btn-danger" %>
          <span><%= @post.is_displayed ? '' : '※管理者によって非表示化されています。※' %></span>
        <% end %>
      </div>
      <div class="row ml-5">
      <!--コメント投稿　部分テンプレート-->
        <div class="new-comment">
          <%= render 'public/comments/form', post: @post, comment: @comment %>
        </div>
      </div>
      <div class="row ml-5 py-3">
      <!--コメント一覧　部分テンプレート-->
        <div id="comments_area">
          <%= render 'public/comments/index', post: @post, comment: @comment %>
        </div>
      </div>
    </div>
  </div>
</div>
