<div class="container">
    <div class="row">
        <div class="col-md-3">

            <!--部分テンプレート カテゴリー検索機能-->
            <%= render 'public/posts/category_index', category: @category %>
        </div>

        <div class="col-md-4">
            <div class="row">
                <%= image_tag @post.image, size: "500x500" %>
            </div>

            <div class="row">
                <%= render "public/favorites/btn", post: @post %>：
                <%= @post.user.username %>：
                <%= @post.created_at.strftime('%Y/%m/%d') %>
            </div>

            <div class="row">
                <%= @post.text %>
            </div>

            <div class="row">
                <% if @post.user == current_user %>
                    <%= link_to "編集する", edit_post_path(@post), class: "btn btn-sm btn-success" %>
                <% end %>
                <% if @post.user == current_user %>
                    <%= link_to "削除する", post_path(@post), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-sm btn-success" %>
                <% end %>
            </div>
            <div class="row">
                <%= render "public/comments/form", post: @post, comment: @comment %>
            </div>
            <div class="row">
                <%= render "public/comments/index", post: @post %>
            </div>
        </div>
    </div>
</div>
