<div class="container">
  <div class="row">
    <h4 class="m-3"><%= image_tag "message.index.jpg", size: "300x100" %></h4>
  </div>

  <div class="row">
    <% @message.each do |message| %>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12 mt-3 message-image">
      <%= image_tag (message.image) %>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 mt-3">
        <p><strong><%= message.title %></strong></p>
        <p><%= message.message %></p>
      </div>
    </div>
    <% end %>
    <div class="pagination justify-content-center mt-3">
      <%= paginate @message, theme: 'twitter-bootstrap-4' %>
    </div>
  </div>
</div>
