<% if @range == "User" %>
  <!--検索対象モデルがUser-->
  <h2>ユーザー検索結果 "<%= params[:word] %>"</h2>
  <table class="table table-hover table-inverse">
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= link_to user.username %></td>
        </tr>
      <% end %>
    </tbody>
<% else %>
  </table>


  <!--検索対象モデルがPost-->
  <h2>投稿検索結果 "<%= params[:word] %>"</h2>
  <div class="col-md-10">
    <div class="row">
      <% @posts.each do |post| %>
        <div class="col-md-3 mt-3">
          <%= link_to post_path(post.id) do %>
            <%= image_tag (post.image), size: "200x200" %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
