<div class="container-fluid main-container">

  <!--お知らせ新着表示-->
  <div class="row" style="padding-top:30px;">
    <% @messages.each do |message| %>
      <div class="col-lg-2 col-md-3 col-sm-3 offset-1">
        <%= image_tag message.image, size: "200x100" %>
        <p><%= message.title %></p>
      </div>
    <% end %>
    <div class="col-lg-2 col-md-3 col-sm-3 ml-3">
      <%= link_to public_messages_index_path, class: "text-dark" do %>
      <%= image_tag "message.index.jpg", size: "150x60" %>
      <p>詳しくはこちら>></p>
      <% end %>
    </div>
  </div>

  <!--メインビジュアル-->
  <div class="container-fluid main-visual">
    <div class="row">
      <div class="col no-gutters">
        <%= image_tag "koedo.top2.JPG", width: "100%" %>
      </div>
    </div>
  </div>


<!--ログイン済みのユーザー-->
  <% if user_signed_in? %>
  <div class="container">
    <div class="row">
      <div class="d-grid gap-2 my-5 mx-auto">
        <%= link_to '新規投稿をする', new_post_path, class: "btn btn-primary btn-lg" %>
        <%= link_to '投稿を見る', posts_path, class: "btn btn-secondary btn-lg" %>
      </div>
    </div>
  </div>

<!--ログイン前のユーザー-->
  <% else %>
  <div class="container">
    <div class="row">
      <div class="d-grid gap-3 my-5 mx-auto">
        <%= link_to "新規会員登録をする", new_user_registration_path, class: "btn btn-primary btn-lg" %>
        <%= link_to "投稿を見る", posts_path, class: "btn btn-secondary btn-lg" %>
        <%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, class: "btn btn-success btn-lg sign_in", method: :post %>
      </div>
    </div>
  </div>
  <% end %>
</div>