<div class="container">
  <div class="row">
    <h4 class="m-3"><%= image_tag "message.index.jpg", size: "300x100" %></h4>
    <p class="mt-5"><%= link_to "新規作成", new_admin_message_path, class: 'btn btn-md btn-success' %></p>
  </div>

  <div class="row">
    <% @message.each do |message| %>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12 mt-3 message-image">
        <%= image_tag (message.image) %>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 mt-3">
        <p><strong><%= message.title %></strong></p>
        <p><%= message.message %></p>
        <p><%= message.created_at.strftime('%Y/%m/%d %H:%M') %></p>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 mt-3">
        <%= link_to "編集する", edit_admin_message_path(message.id), class: 'btn btn-sm btn-secondary' %>
      </div>
    </div>
    <% end %>
    <div class="pagination justify-content-center mt-3">
      <%= paginate @message, theme: 'twitter-bootstrap-4' %>
    </div>
  </div>
</div>
