<div class="container">
  <div class="row">
    <h4 class="m-3"><%= image_tag "post.new.jpg", size: "300x100" %></h4>
    <%= render 'layouts/errors', obj: @message %>
  </div>

  <div class="row">
    <div class="mx-auto">

      <%= form_with model: @message, url: admin_messages_path, local: true do |f| %>
      <table class="table table-borderless mt-3">
        <tr>
          <td><%= f.label :投稿画像 %></td>
          <td><%= f.file_field :image, accept: "image/*" %></td>
        </tr>
        <tr>
          <td><%= f.label :タイトルを入力 %></td>
          <td><%= f.text_area :title, placeholder: "タイトルを入力" %></td>
        </tr>
        <tr>
          <td><%= f.label :メッセージを入力 %></td>
          <td><%= f.text_area :message, placeholder: "メッセージを入力" %></td>
        </tr>
      </table>

      <div class="row">
        <div class="col-sm-3">
          <div>
            <%= f.submit "新規作成", class: 'btn btn-lg btn-success' %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>