<div class="container">
  <div class="row">
    <div class="col-4">
      <h4 class="m-3">カテゴリー一覧・新規作成</h4>
    </div>
  </div>

   <%= render "public/shared/error_messages", resource: @category %>

   <%= form_with model: @category, url: admin_categories_path do |f| %>
   <div class="row">
     <div class="col-2">
       <%= f.label :name, "カテゴリー名" %>
     </div>
     <div class="col-3">
       <%= f.text_field :name, placeholder: "カテゴリー名" %>
     </div>
     <div class="col-3">
       <%= f.submit "新規登録", class: "btn btn-success btn-sm" %>
     </div>
   </div>
   <% end %>

   <div class="row">
     <div class="col-4">
       <table class="table">
         <thead>
           <tr>
             <th class="table-secondary">カテゴリー</th>
             <th class="table-secondary"></th>
           </tr>
         </thead>

         <tbody>
           <% @categories.each do |category| %>
           <tr>
             <td><%= category.name %></td>
             <td><%= link_to "編集する", edit_admin_category_path(category), class: "btn btn-success btn-sm" %></td>
           </tr>
         </tbody>
          <% end %>
       </table>
     </div>
   </div>
</div>