<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h4 class="m-3"><%= image_tag "login.jpg", size: "180x50" %></h4>
    </div>
  </div>

  <div class="form-horizontal" role="form">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= render "public/shared/error_messages", resource: resource %>

    <div class="form-group row mt-3">
      <label class="col-md-2">メールアドレス</label>
      <div class="col-sm-3">
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
    </div>

    <div class="form-group row mt-3">
      <label class="col-md-2">パスワード</label>
      <div class="col-sm-3">
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="form-group row">
        <div class="col-sm-3 offset-2">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      </div>
    <% end %>

    <div class="form-group row">
      <div class="col-sm-2 offset-2 my-3">
        <%= f.submit "ログイン", class: 'btn btn-success btm-sm btn-block' %>
      </div>
      <% end %>
    </div>

    <div class="row">
      <div class="col-md-4 mt-5">
        <h5><%= image_tag "signup2.jpg", size: "400x50" %></h5>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 offset-sm-2 mt-3 mb-5">
      <%= link_to "こちらから新規会員登録", new_user_registration_path, class: "btn btn-primary btn-sm" %>
    </div>
  </div>
</div>