<div>
  <%= flash[:notice] %>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4 my-3">
      <h4 class="m-3">アカウント情報</h4>
    </div>
  </div>

    <div class="row">
      <div class="col">
        <table class="table table-bordered">
          <tbody>
            <tr>
              <td class="table-secondary" style="width: 20%;">氏名</td>
              <td style="width: 80%;"><%= @user.last_name %><%= @user.first_name %></td>
            </tr>
            <tr>
              <td class="table-secondary">フリガナ</td>
              <td><%= @user.last_name_kana %><%= @user.first_name_kana %></td>
            </tr>
            <tr>
              <td class="table-secondary">アカウント名</td>
              <td><%= @user.username %></td>
            </tr>
            <tr>
              <td class="table-secondary">メールアドレス</td>
              <td><%= @user.email %></td>
            </tr>
            <tr>
              <td class="table-secondary">電話番号</td>
              <td><%= @user.telephone_number %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4 offset-2 mt-3">
        <%= link_to "アカウント情報を編集する", edit_user_path(@user), class: "btn btn-sm btn-block btn-success" %>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4 offset-2 my-5">
        <%= link_to "ホームへ", posts_path, class: "btn btn-sm btn-block btn-secondary" %>
      </div>
    </div>
  </div>
</div>