<!DOCTYPE html>
<html>
  <head>
    <title>KoedoKanko</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/7f05cc38f0.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="footerFixed">
      <header>
      <!--<header style="background-color:#696969;">-->
        <nav class="navbar navbar-expand-lg navbar-light border-black border-bottom p-4">
          <div class="container">
            <a class="navbar-brand" href = "/">
              <h2 class="logo"><%= image_tag "tokimo.logo.jpg", size: "200x80" %></h2>
            </a>
            <div class="d-flex flex-column">
              <ul class="navbar-nav ml-auto">
                <!--ヘッダー-->
                <%= render "layouts/header" %>
              </ul>
            </div>
          </div>
        </nav>
      </header>

      <!--メイン-->
      <!--<main style="background-color:#FFC7AF;">-->
      <main>
          <%= yield %>
      </main>

      <!--フッター-->
      <footer class="border-black border-top pt-5 pb-4"></footer>
    </div>
  </body>
</html>
